body {
    font-family: sans-serif;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-pantalla-grunge-oscuro-3d-atmosfera-ahumada_1048-16218.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}


h1{
    color: cornflowerblue;
}
h2{
    color: darkgoldenrod;
}
p{
    color: aliceblue;;
}
li{
    color: ghostwhite;
}

.imagen_1{
    background-color: darkgoldenrod;
}