<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Universitaria - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{url_for('static', filename='img/logo.png')}}" alt="Error en Logo.png">
        </div>
        <div class="search">
            <input type="text" placeholder="Buscar...">
            <button type="button">Buscar</button>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li><a href="softw">Hombres</a></li>
                <li><a href="productos">Mujeres</a></li>
            </ul>
        </nav>
        <div class="login">
            <button id="loginBtn" type="button">Iniciar Sesión</button>
        </div>
    </header>

    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- Aquí irá el contenido del formulario de inicio de sesión -->
            <form id="loginForm" action="/login" method="post">
                <!-- Campos del formulario -->
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/header.js') }}"></script>
</body>
</html>
