<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Universitaria - {%block title%}
            {%endblock%}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{url_for('inicio')}}">Inicio</a></li>
            <li><a href="{{url_for('info')}}">Ayuda</a></li>
            <li><a href="{{url_for('softw')}}">Ingenieria</a></li>
            <li><a href="{{url_for('registro')}}">Registro de Usuario</a></li>

        </ul>
    </nav>
    {%block content%}
    {%endblock%}
    <script src="{{url_for('static', filename='js/layout.js')}}"></script>
    <script src="{{url_for('static', filename='js/registro.js')}}"></script>

</body>
</html>
