{%extends 'base.html'%}

{%block title%}
    Inicio
{%endblock%}

{%block content%}
    <h1>Universitaria de colombia</h1>
    <h2>Ingenieria de software</h2>
    <br><br>
    <p>La carrera de Ingeniería de Software en nuestra universidad forma profesionales responsables y capaces de construir, analizar, crear, diseñar, programar, probar y mantener sistemas informáticos y de software de calidad; mediante conocimientos de ingeniería de datos, redes, configuración de sistemas operativos de servidores o de redes privadas.</p>
{%endblock%}