<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<body>
    <h2>Iniciar sesión</h2>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('login') }}" method="POST">
        <label for="nombre_usuario">Nombre de usuario:</label><br>
        <input type="text" id="nombre_usuario" name="nombre_usuario"><br>
        <label for="contrasena">Contraseña:</label><br>
        <input type="password" id="contrasena" name="contrasena"><br><br>
        <input type="submit" value="Iniciar sesión">
    </form>
</body>

</html>
